// SCSS BOOTSTRAP
@import "~bootstrap/scss/bootstrap";

// FILE PARTIALS
@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/main";
@import "partials/common";

// STILI
body {
    background-color: rgb(38, 38, 38);
    color: rgb(225, 225, 225);
}
ul{
    list-style: none;
}

body{
    background-image: url('./img/summer-seamless-pattern-with-hand-drawn-in-sketch-style-alcohol-cocktails-vintage-backdrop-with-drinks-flowers-and-lemons-on-white-background-for-textile-wrapping-.jpg');
    background-repeat: repeat;
    background-size: cover;
    h1{
        color: #ff2020;
    }
    h3{
        background-color: white;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
    }
}
header{
    background-image: url('./img/Cattura.PNG');
    background-position: top;
    background-size: auto;
    height: 15vh;
}
.card{
    background-color: rgb(197, 252, 252);
    border: 5px solid rgb(0, 0, 0);
}